<h1>Counter component getting data from store via selectors</h1>

<div>Counter value: {{ counterValue$ | async }}</div>
<div>Counter step: {{ counterStep$ | async }}</div>

<input type="number" [formControl]="step" placeholder="step value" >
<button (click)="onUpdateStep()">Update step</button>

<br><br>
<div>
    <button (click)="onIncrement()">Increment counter</button> &nbsp;
    <button (click)="onDecrement()">Decrement counter</button>
</div>



<br><br>
<input type="number" [formControl]="id" placeholder="counter id">
<div *ngIf="{ counterValue: counterValue$ | async} as data">
    <button (click)="onLoad()">Load counter</button> &nbsp;
    <button (click)="onSave(data.counterValue!)">Save counter</button>
</div>